body{
    background: linear-gradient(180deg, aquamarine, blue, green );
}
table{
    border: 2px solid black;
    border-radius: 10px;
    padding: 3px;
    background: linear-gradient(360deg, yellow, blue);
}