body{
    background: linear-gradient(180deg, aquamarine, blue, green, white);
}
table{
    border: 3px solid red;
    padding: 3px;
    border-radius: 10px;
    background: linear-gradient(360deg, yellow, blue);
}